<h2 mat-dialog-title>Contactez-nous
  <span><a class="text-decoration-none link-dark" href="tel:+33640379623">(06 40 37 96 23)</a></span>
</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <mat-dialog-content class="mat-typography d-block">

    <div class="row">
      <p *ngIf="data">Votre demande sera attachée à ce message</p>
      <div class="col">
        <mat-form-field appearance="outline" class="m-sm-1 w-100">
          <mat-label>Nom</mat-label>
          <input
            formControlName="name"
            matInput
            type="text">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" class="m-sm-1  w-100">
          <mat-label>Prénom</mat-label>
          <input
            formControlName="firstname"
            matInput
            type="text"
          >
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" class="m-sm-1 w-100">
          <mat-label>Numéro de téléphone</mat-label>
          <input
            formControlName="phoneNumber"
            matInput
            type="number">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" class="m-sm-1 w-100">
          <mat-label>Adresse Email</mat-label>
          <input
            formControlName="email"
            matInput
            type="email">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Votre message</mat-label>
          <textarea
            formControlName="message"
            matInput
            style="height: 10em"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="errors-container" *ngIf="!form.valid && form.touched">
      <label *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">Le nom est obligatoire</label>
      <label *ngIf="form.get('firstname')?.hasError('required') && form.get('firstname')?.touched">Le prénom est
        obligatoire</label>
      <label *ngIf="form.get('phoneNumber')?.hasError('required') && form.get('phoneNumber')?.touched">Le numéro de
        téléphone est obligatoire</label>
      <label *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">L'email est
        obligatoire</label>
      <label *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">Email non conforme</label>
      <label *ngIf="form.get('message')?.hasError('required') && form.get('message')?.touched">Le message est
        obligatoire</label>
    </div>
    <button [mat-dialog-close]="" mat-button>Annuler</button>
    <button [disabled]="!form.valid || loading" mat-button type="submit">
      <div *ngIf="loading" class="spinner-border spinner-border-sm m-1" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="spinner lab">Envoyer</span>
    </button>
  </mat-dialog-actions>
</form>
