<nav class="navbar navbar-expand-xl d-flex">
  <div class="container d-flex m-auto" >
    <div class="justify-content-around" style="flex: 3 0 auto">
      <img alt="abc du plombier banner" height="197" routerLink="/"
           src="assets/icon/band.webp" style="width: 300px; height: auto; max-width: 70vw" width="816">
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item lh-lg">
          <a aria-current="page" class="nav-link fs-5" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item lh-lg">
          <a aria-current="page" class="nav-link fs-5" routerLink="/salle-de-bain">Salle de bain</a>
        </li>
        <li class="nav-item lh-lg dropdown">
          <a aria-expanded="false" class="nav-link fs-5 dropdown-toggle" data-bs-toggle="dropdown" href="#"
             role="button">Chauffage</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/chauffage">Chaudière</a></li>
            <li><a class="dropdown-item" routerLink="/pompe-a-chaleur">Pompe à chaleur</a></li>
          </ul>
        </li>
        <li class="nav-item lh-lg">
          <a aria-current="page" class="nav-link fs-5" routerLink="/qui-sommes-nous">Qui sommes nous ?</a>
        </li>
        <li style="margin-left: 2vw">
          <a class="btn text-white p-3 btn-primary align-baseline" href="tel:+33640379623">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
            06 40 37 96 23
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
