<div id="footer" class="container-fluid">
  <div class="row">
    <div id="contactBar" class="col-11 col-sm-10 col-xl-7 pt-5 pb-5 mx-auto bg-white shadow rounded-3">
      <div class="row mx-auto h-100">
        <div class="col-sm-12 col-md-10 mx-auto d-flex flex-wrap justify-content-evenly">
          <div class="col-sm-12 col-xl-7 align-self-center text-center">
            <h3 class="font-lato fs-3">Etablissez votre devis maintenant !</h3>
          </div>
          <div class="col-sm-4 col-xl-2 align-self-center">
                <a class="btn anim-transform p-2 text-white btn-secondary align-baseline" href="tel:+33640379623">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                  </svg>
                  06 40 37 96 23
                </a>
          </div>
          <div class="col-sm-4 col-xl-2 align-self-center">
            <button (click)="onPresentQuotationDialog()" class="btn p-2 anim-transform border-2 border-dark rounded">Estimation en ligne</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-9 mx-auto d-flex justify-content-between flex-wrap">
      <section *ngFor="let section of sections" class="col-12 col-md-4 col-xl-3 mx-auto d-block">
        <h3 class="fs-2 font-weight-bold">{{section.sectionName}}</h3>
        <ul class="fs-6 lh-lg p-0 m-3">
          <li *ngFor="let item of section.links">
            <a *ngIf="item.hrefAttribute" class="text-decoration-none" [href]="item.hrefAttribute">{{item.text}}</a>
            <a *ngIf="item.routerAttribute" class="text-decoration-none" [routerLink]="item.routerAttribute">{{item.text}}</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <hr class="mx-auto d-block" style="width: 60%; opacity: 0.1;">
  <div class="row text-center">
    <p style="font-size: 0.8em; opacity: 0.4">
      © Copyright {{ year }} ABC du Plombier
    </p>
  </div>
</div>
