<div class="banner container-fluid h-100" data-aos="fade-right">
  @defer (when isReady) {
    <div class="row h-100">
      <div class="col-12 col-md-7 col-xl-5 offset-xl-1 align-self-center mt-5 mt-xl-0">
        <h1 class="big-title font-lato ">
          Qui sommes nous ?
        </h1>
        <span class="subtext font-lato">
         Votre Artisan du Bien-être et du Confort (ABC)
      </span>
      </div>
      <div class="col-xl-6  col-11 col-md-5 col-sm-3 mx-sm-auto pt-5 align-self-center" data-aos="zoom-out-up">
        <img class="mx-auto d-block" src="assets/images/undraw_profile.svg" alt="undraw contract"
             style="max-width: inherit; max-height: 100vw">
      </div>
    </div>
  }
</div>
<div class="container" style="margin-top: 10vw">
  <div class="row h-100 ">
    <div class="col d-flex flex-wrap justify-content-evenly">
      <div class="col-12 col-xl-6 align-self-center">
        <h3 class="font-lato fw-bold fs-1 lh-base">La société</h3>
        <p class="text p-2 p-lg-0 fs-6">
          ABC du Plombier (Artisan du Bien-être et du Confort) a été fondée en 2017. Nous sommes une entreprise Rezéenne
          spécialisée dans l’activité de plomberie et nous rayonnons autour de l’agglomération nantaise. Nous portons
          une attention particulière pour chacune de nos interventions afin de garantir sa bonne réalisation. D’un
          remplacement de robinet à la rénovation d'une salle de bain ou la pose d’une chaudière gaz, nous recherchons
          la meilleure proposition pour vous offrir le meilleur confort attendu. En tant que professionnel en plomberie
          et chauffage, nous proposons nos prestations à des prix compétitifs et adéquats afin de mener à bien chaque
          projet.
        </p>
      </div>
      <div class="col-xl-6 col-8 justify-content-end">
        <img class="mx-auto d-block shadow-lg rounded-circle" style="max-height: 40vh; max-width: 90%"
             src="assets/icon/icon_rounded.webp"
             alt="ABC du Plombier logo rounded">
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <h3 class="font-lato fw-bold fs-1 lh-base mb-5">Nos Valeurs</h3>
    <div class="col-12 flex-wrap d-flex">
      <section *ngFor="let value of values" class="col-sm-12 col-md-6 col-xl-4 mt-3 p-3" data-aos="fade-up">
        <h2 class="fs-3 fw-bold">{{ value.title }}</h2>
        <p class="fs-6 lh-base" style="text-align: justify; color: #2D4665">{{ value.text }}</p>
      </section>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <h3 class="font-lato fw-bold fs-1 lh-base mb-5">Nos dirigeants</h3>
    <div class="col-12">
      <div class="card mx-auto" data-aos="zoom-out-down" style="width: 18rem;">
        <img src="assets/images/pp_frederic.webp" class="card-img-top" alt="photo de profil Frederic DERACHE">
        <div class="card-body">
          <h3 class="font-lato fs-3 fw-bold">Frédéric DERACHE</h3>
          <p class="card-text fs-6">Fondateur</p>
        </div>
      </div>
    </div>
  </div>
</div>
