<div class="banner container-fluid">
  @defer (when isReady) {
    <div class="row h-100" style="margin-top: 5em">
      <div class="col-12 col-md-7 col-xl-5 mx-auto offset-xl-1 align-self-center mt-5 mt-xl-0" data-aos="fade-right">
        <h1 class="big-title font-lato text-center">
          Installation de pompes à <span style="color: var(--bs-primary)">chaleur</span>
        </h1>
        <!--        <span class="subtext font-lato">-->
        <!--        Réparation et installation d'équipement thermique...-->
        <!--      </span>-->
      </div>
      <!--      <div class="col-xl-6  col-11 col-md-5 col-sm-3 mx-sm-auto pt-5 align-self-center" data-aos="fade-left">-->
      <!--        <img alt="undraw contract" class="mx-auto d-block" src="assets/images/ac-repair.webp"-->
      <!--             style="max-width: inherit; max-height: 90vw">-->
      <!--      </div>-->
    </div>
  }
</div>
<!--<div class="container" style="margin-top: 10vw">-->
<!--  <div class="row mb-2">-->
<!--    <div class="col">-->
<!--      <h3 class="font-lato fw-bold fs-1 lh-base">Comment pouvons-nous vous aider ?</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row h-100">-->
<!--    <div class="col d-flex justify-content-evenly flex-wrap">-->
<!--      <section *ngFor="let action of actionItem" class="col-12 col-sm-6 col-xl-4" data-aos="fade-up">-->
<!--        <div class="pt-4 px-4 h-100">-->
<!--          <div class="card-body">-->
<!--            <div class="square mx-auto d-flex flex-wrap align-items-center mb-5">-->
<!--              <img [alt]="action.icon" [src]="action.icon" class="d-block mx-auto" style="width: 6em">-->
<!--            </div>-->
<!--            <h2 class="fs-3 text-center fw-bold font-lato">{{ action.title }}</h2>-->
<!--            <p class="fs-6 lh-base mt-4" style="text-align: justify">{{ action.subText }}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container" style="margin-top: 10vw">
  <div class="row h-100 ">
    <div class="col d-flex flex-wrap justify-content-evenly">
      <div class="col-12 col-xl-6 align-self-center" data-aos="fade-right">
        <h3 class="font-lato fw-bold fs-1 lh-base">Installation AC sur Nantes et ses environs</h3>
        <p class="text p-2 p-lg-0 fs-6 text-justify">
          Êtes-vous à la recherche d'un nouveau système de climatisation économe en énergie ?
          Vous craignez que votre système de climatisation actuel ne tombe en panne à tout moment, notamment au moment
          le plus inopportun ?
          Chez ABC du Plombier, nous proposons des installations de climatisation de qualité à Nantes, pour vous
          permettre de rester au frais et à l'aise pendant les journées les plus chaudes.
        </p>
      </div>
      <div class="col-xl-6 col-12 justify-content-end" data-aos="flip-left">
        <img alt="Plombiers réparant une chaudière" class="mx-auto d-block" src="assets/images/ac-repair.webp"
             style="max-height: 40vh; max-width: 90%">
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 10vw">
  <div class="row flex-column-reverse flex-xl-row">
    <div class="col-xl-6 col-5 mx-auto justify-content-end" data-aos="flip-right">
      <img alt="Plombiers réparant une chaudière" class="mx-auto d-block" src="assets/images/ac.webp"
           style="max-height: 40vh; max-width: 90%">
    </div>
    <div class="col-sm-12 col-xl-6 d-flex flex-wrap justify-content-evenly">
      <div class="align-self-center" data-aos="fade-left">
        <h3 class="font-lato fw-bold fs-1 lh-base">Pourquoi nous choisir pour votre installation de pompe à chaleur
          ?</h3>
        <p class="text p-2 p-lg-0 fs-6 text-justify">
          Chaque équipement CVC, y compris la pompe à chaleur, est essentiel pour rendre votre maison ou
          votre local commercial à Nantes aussi confortable que vous le souhaitez tout au long de l'année.
          <br>
          La pompe à chaleur déplace la chaleur dans votre maison ou votre local commercial – elle transfère la chaleur
          de l'extérieur vers l'intérieur
          de votre maison ou bureau en hiver et élimine l'excès de chaleur de l'intérieur vers l'extérieur en été
          lorsqu'il fait extrêmement chaud.
          <!--          <br>-->
          <!--          Il est important de maintenir votre pompe à chaleur en parfait état tout au-->
          <!--          long de l'année pour garantir qu'elle régule correctement la chaleur. Cependant,-->
          <!--          comme tout autre appareil domestique, les pompes à chaleur sont susceptibles de tomber-->
          <!--          en panne ou de mal fonctionner de temps à autre, d'autant plus qu'elles sont presque toujours en marche. Dans-->
          <!--          ce cas, il n'est pas nécessaire de procéder à des remplacements coûteux de la pompe à chaleur.-->
        </p>
      </div>
    </div>
  </div>
</div>

<!--<div class="container mt-5" data-aos="zoom-out-up">-->
<!--  <div class="row">-->
<!--    <div class="col-12 col-xl-6">-->
<!--      <h3 class="font-lato fw-bold fs-1 lh-base">Signes indiquant que votre pompe à chaleur a besoin d'être réparée</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row mt-5">-->
<!--    <div-->
<!--      *ngFor="let itemDif of makeDifferent"-->
<!--      class="col-sm-12 mt-3 col-md-6"-->
<!--    >-->
<!--      <h5 class="fs-5 fw-bold lh-base">{{ itemDif.title }}</h5>-->
<!--      <p class="fs-6 text-justify">{{ itemDif.subtitle }}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container" style="margin-top: 10vw">
  <div class="row mb-2">
    <div class="col-12 col-md-9">
      <h3 class="font-lato fw-bold fs-1 lh-base">Types de pompes à chaleur que nous réparons</h3>
    </div>
    <div class="col-12 col-md-7 text-justify">
      <p>Nos techniciens de réparation de pompes à chaleur hautement qualifiés et expérimentés chez ABC du Plombier sont
        compétents pour réparer tous les types de pompes à chaleur suivants :</p>
    </div>
  </div>
  <div class="row h-100">
    <div class="col d-flex justify-content-evenly flex-wrap">
      <ul class="mt-5 font-lato fs-6 lh-lg">
        <li>Pompes à chaleur à air</li>
        <li>Pompes à chaleur à eau</li>
        <!--        <li>Pompes à chaleur solaires</li>-->
        <!--        <li>Pompe à chaleur à absorption ou à gaz</li>-->
        <!--        <li>Pompes à chaleur hybrides telles que pompe à chaleur sol-air ou pompe à chaleur et chaudière gaz/fioul.</li>-->
      </ul>
    </div>
  </div>
</div>

<app-faq-heat></app-faq-heat>
