.subtext {
  font-size: 2.5vh;
  color: #3B4257;
}

.text {
  color: #212529;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
}

.big-title {
  font-size: 90px;
  color: #272B37;
  line-height: 1em;
}

@media only screen and (max-width: 700px) {
  .big-title {
    font-size: 60px;
    line-height: 1em;
  }
}
