<div class="banner container-fluid">
  @defer (when isReady) {
    <div class="row h-100">
      <div class="col-12 col-md-7 col-xl-5 offset-xl-1 align-self-center mt-5 mt-xl-0" data-aos="fade-right">
        <h1 class="big-title font-lato ">
          Conception et pose de salles de bains à Nantes
        </h1>
        <span class="subtext font-lato">
         Nos devis sont gratuits !
      </span>
      </div>
      <div class="col-xl-6  col-11 col-md-5 col-sm-3 mx-sm-auto pt-5 align-self-center" data-aos="fade-left">
        <img alt="undraw contract" class="mx-auto d-block" src="assets/images/bathroom.webp"
             style="max-width: inherit; max-height: 90vw">
      </div>
    </div>
  }
</div>

<div class="container" style="margin-top: 10vw">
  <div class="row h-100 " data-aos="fade-right">
    <div class="col d-flex flex-wrap justify-content-evenly">
      <div class="col-12 col-xl-6 align-self-center">
        <h3 class="font-lato fw-bold fs-1 lh-base">Des experts en aménagement de salles de bains du début à la fin</h3>
        <p class="text text-justify p-2 p-lg-0 fs-6">
          ABC du Plombier est à votre service. Nous couvrons tous vos besoins en matière de rénovation de salle de bain
          ! Que ce soit pour une nouvelle maison ou que votre maison actuelle nécessite une amélioration, aucune
          réhabilitation n'est trop grande ou trop petite pour être gérée par nos entrepreneurs experts en salle de
          bain. Cela inclut tout ce qui concerne votre fabuleuse nouvelle douche à l'italienne, la baignoire/jacuzzi,
          les travaux de carrelage, les vanités personnalisées, et même la conversion de la baignoire en douche. Nous
          offrons seulement les meilleures solutions de rénovation de bout en bout pour le propriétaire occupé. Si vous
          êtes à la recherche d'un entrepreneur local bien établi et d'un partenaire de confiance pour améliorer votre
          salle de bains, nous pouvons couvrir tous les aspects de vos rénovations - de la conception et de la
          démolition à la construction et aux finitions complètes. En tant que service complet de conception de
          remodelage de salle de bain basé à Nantes, Rezé et d'entrepreneurs de construction, nous fournissons une
          valeur optimale pour soutenir au mieux votre maison de rêve avec des idées de réaménagement qui fonctionnent.
        </p>
      </div>
      <div class="col-xl-6 col-12 justify-content-end" data-aos="flip-up">
        <img alt="plumber at work" class="mx-auto d-block" src="assets/images/wash_hands.svg"
             style="max-height: 40vh; max-width: 90%">
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" data-aos="zoom-out-up">
  <div class="row">
    <div class="col-12 col-xl-6">
      <h3 class="font-lato fw-bold fs-1 lh-base">Ce qui nous rend différents</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div
      *ngFor="let itemDif of makeDifferent"
      class="d-flex col-sm-12 mt-3 col-md-4"
    >
      <img [alt]="itemDif.iconName" [src]="itemDif.iconPath" class="float-start m-3" height="40" width="40">
      <div>
        <h5 class="fs-5 fw-bold lh-base">{{ itemDif.title }}</h5>
        <p class="fs-6 text">{{ itemDif.subtitle }}</p>
      </div>
    </div>
  </div>
</div>
<app-faq></app-faq>
