<div class="banner container-fluid">
  @defer (when isReady) {
    <div class="row h-100">
      <div class="col-12 col-md-7 col-xl-5 offset-xl-1 align-self-center mt-5 mt-xl-0" data-aos="fade-right">
        <h1 class="big-title font-lato ">
          N'attendez pas <br> D'avoir <span style="color: var(--bs-primary)">froid...</span>
        </h1>
        <span class="subtext font-lato">
        Réparation et installation d'équipement thermique...
      </span>
      </div>
      <div class="col-xl-6  col-11 col-md-5 col-sm-3 mx-sm-auto pt-5 align-self-center" data-aos="fade-left">
        <img alt="undraw contract" class="mx-auto d-block" src="assets/images/camp_fire.svg"
             style="max-width: inherit; max-height: 90vw">
      </div>
    </div>
  }
</div>
<div class="container" style="margin-top: 10vw">
  <div class="row mb-2">
    <div class="col">
      <h3 class="font-lato fw-bold fs-1 lh-base">Comment pouvons-nous vous aider ?</h3>
    </div>
  </div>
  <div class="row h-100">
    <div class="col d-flex justify-content-evenly flex-wrap">
      <section *ngFor="let action of actionItem" class="col-12 col-sm-6 col-xl-4" data-aos="fade-up">
        <div class="pt-4 px-4 h-100">
          <div class="card-body">
            <div class="square mx-auto d-flex flex-wrap align-items-center mb-5">
              <img [alt]="action.icon" [src]="action.icon" class="d-block mx-auto" style="width: 6em">
            </div>
            <h2 class="fs-3 text-center fw-bold font-lato">{{ action.title }}</h2>
            <p class="fs-6 lh-base" style="text-align: justify">{{ action.subText }}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 10vw">
  <div class="row h-100 ">
    <div class="col d-flex flex-wrap justify-content-evenly">
      <div class="col-12 col-xl-6 align-self-center" data-aos="fade-right">
        <h3 class="font-lato fw-bold fs-1 lh-base">Entretien et réparation de la chaudière</h3>
        <p class="text p-2 p-lg-0 fs-6">
          Les problèmes de chaudière peuvent survenir à tout moment de l'année et il est important d'identifier les
          signes précurseurs de la nécessité de réparer votre chaudière. Nous proposons l'entretien et la réparation des
          chaudières de toutes les grandes marques. Nous pouvons prendre en charge en toute confiance n'importe quel
          type d'entretien de chaudière dont vous avez besoin.
        </p>
      </div>
      <div class="col-xl-6 col-12 justify-content-end" data-aos="flip-left">
        <img alt="Plombiers réparant une chaudière" class="mx-auto d-block" src="assets/images/plumbing.webp"
             style="max-height: 40vh; max-width: 90%">
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 10vw">
  <div class="row flex-column-reverse flex-xl-row">
    <div class="col-xl-6 col-5 mx-auto justify-content-end" data-aos="flip-right">
      <img alt="Plombiers réparant une chaudière" class="mx-auto d-block" src="assets/images/chaudiere.svg"
           style="max-height: 40vh; max-width: 90%">
    </div>
    <div class="col-sm-12 col-xl-6 d-flex flex-wrap justify-content-evenly">
      <div class="align-self-center" data-aos="fade-left">
        <h3 class="font-lato fw-bold fs-1 lh-base">Besoin d'une installation de chaudière par un professionnel ?</h3>
        <p class="text p-2 p-lg-0 fs-6">
          Si votre chaudière tombe en panne, faites-le nous savoir afin que nous puissions procéder au remplacement de
          votre chaudière le plus rapidement possible. Vous ne voulez pas attendre le remplacement de votre appareil de
          chauffage pendant la période la plus froide de l'année. Nous vous aiderons à choisir la chaudière idéale pour
          vos besoins, et nous veillerons à ce qu'elle soit intégrée à votre maison avec succès.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 10vw">
  <div class="row mb-2">
    <div class="col">
      <h3 class="font-lato fw-bold fs-1 lh-base">Nos autres domaines de compétences</h3>
    </div>
  </div>
  <div class="row h-100">
    <div class="col d-flex justify-content-evenly flex-wrap">
      <ul class="mt-5 font-lato fs-6 lh-lg">
        <li>Sèche-serviettes à eau chaude</li>
        <li>Installation/Déplacement de radiateur</li>
        <li>Installation chauffe-eau électrique ou gaz</li>
        <li>Chaudière gaz basse température petite et moyenne puissance et condensation</li>
      </ul>
    </div>
  </div>
</div>
