<h2 mat-dialog-title>Estimation en Ligne</h2>

<mat-dialog-content class="mat-typography d-block">
  <mat-form-field appearance="fill">
    <mat-label>Choisissez un service</mat-label>
    <mat-select [(value)]="serviceSelected">
      <mat-option
        *ngFor="let quotation of quotations"

        [value]="quotation.name">
        {{ quotation.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<p *ngIf="serviceSelected" class="fs-4 fw-bold" >Estimation de la prestation : {{getPrice(serviceSelected)}} € HT</p>
<p class="fs-6">* Attention ! Les prix proposés sont à titre indicatif. Veuillez-nous faire une demande pour établir un devis.</p>
<mat-dialog-actions align="end">
    <button [mat-dialog-close]="true" mat-button>Fermer</button>
    <button (click)="onAsked()" [mat-dialog-close]="false" mat-button>Faire une demande</button>
</mat-dialog-actions>
