<!--<div *ngIf="photos.length > 1" class="container mt-3 mb-5" data-aos="zoom-out-right">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-11 col-md-6 mx-auto text-center">-->
<!--      <h3 class="font-lato fw-bold fs-1">{{ 'ACHIEVEMENTS.mainTitle' | translate }}</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-12  mx-auto mt-3">-->
<!--      <swiper [config]="config" class="mySwiper">-->
<!--        <ng-template *ngFor="let photo of photos" swiperSlide>-->
<!--          <div class="card-body">-->
<!--            <img [alt]="photo.id" [src]="photo.imageURL" class="mx-auto d-block"-->
<!--                 style="border-radius: 0.8em; max-width: 90%" width="400">-->
<!--            <blockquote class="blockquote mb-0 text-center">-->
<!--              <footer class="blockquote-footer mt-3">-->
<!--                <p>{{ photo.comment }}</p>-->
<!--              </footer>-->
<!--            </blockquote>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </swiper>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
