.subtext {
  font-size: 1.5em;
  color: #3B4257;
}

.big-title {
  font-size: 90px;
  color: #272B37;
  line-height: 1em;
}

@media only screen and (max-width: 700px) {
  .big-title {
    font-size: 60px;
    line-height: 1em;
  }
}
