<div id="reviewContainer" class="container-fluid rotated">
  <div>
    <div class="row rotated-reverse">
      <div class="col mx-auto text-center">
        <h3 class="font-lato fw-bold fs-1">Ce que disent nos client !</h3>
        <img alt="quote icon" class="rounded-circle bg-primary" height="100"
             src="assets/icon/quote.webp" width="100">
      </div>
    </div>
    <div class="row rotated-reverse">
      <div class="col-sm-12 col-md-8 col-xl-6 mx-auto mt-3" data-aos="zoom-out-right">
        <swiper-container #swiper class="mySwiper">
          <swiper-slide *ngFor="let review of reviews">
            <div class="card-body p-5">
              <blockquote class="blockquote mb-0 text-center">
                <img *ngFor="let star of stars(review.rating)" alt="star logo" src="assets/icon/star.webp"
                     height="30" width="30">
                <p class="fs-6 p-5 pt-1">{{ review.text }}</p>
                <footer class="blockquote-footer mt-3"><cite title="Source Title">{{ review.author_name }}</cite>
                </footer>
                <img class="mx-auto d-block" style="width: 50px" [src]="review.profile_photo_url"
                     [alt]="review.author_name" height="50" width="50">
              </blockquote>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
    <div class="row rotated-reverse mt-5">
      <div class="col-sm-12 col-md-7 mx-auto text-center">
        <a class="anim-transform text-white text-decoration-none p-3 rounded-3 fs-5 bg-secondary"
           href="https://g.page/r/CXzrusxOP64BEAI/review"
        >Donnez-votre avis !</a>
      </div>
    </div>
  </div>
</div>

<div class="visually-hidden" id="DUMMY"></div>
