.banner {
  background-image: url("/assets/images/banner.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.big-title {
  font-size: 90px;
  color: #272B37;
  line-height: 1em;
}

.subtext {
  font-size: 1.5em;
  color: #3B4257;
}

.text {
  text-align: justify;
  color: #212529;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
}

.btn-contact {
  font-size: 150%;
  color: #252525;
}

.btn-contact:hover {
  background-color: var(--bs-primary) !important;
  color: white;
}

.card-body .square {
  width: 8em;
  height: 8em;
  border-radius: 20px;
}

.custom-card {
  border-radius: 20px;
}


@media only screen and (max-width: 700px) {
  .big-title {
    font-size: 60px;
    line-height: 1em;
  }

  .banner {
    background-size: unset;
    background-repeat: no-repeat;
  }
}
