<div class="banner container-fluid">
  @defer (when isReady) {
    <div class="row h-100">
      <div class="col-12 col-md-7 col-xl-5 offset-xl-1 align-self-center mt-5 mt-xl-0" data-aos="fade-right">
        <h1 class="big-title font-lato ">
          N'attendez pas <br> De prendre <span style="color: var(--bs-primary)">l'eau...</span>
        </h1>
        <span class="subtext font-lato">Faîtes appel à votre plombier de proximité sur la région nantaise.</span>
        <br>
        <button (click)="onContact()"
                class="bg-light anim-transform rounded btn shadow-lg p-4 font-lato btn-contact mt-4 mt-lg-5">
          Nous contacter
        </button>
      </div>
      <div class="col-xl-6  col-11 col-md-5 col-sm-8 mx-sm-auto pt-5 align-self-center" data-aos="fade-left">
        <img alt="Plombiers réparant une chaudière" class="mx-auto d-block" height="793" loading="eager"
             src="assets/images/banner-illustration.svg" style="max-width: 100%; height: auto" width="932">
      </div>
    </div>
  }
</div>
<!--Action Items-->
<div class="container" style="margin-top: 10vw">
  <div class="row h-100">
    <div class="col d-flex justify-content-evenly flex-wrap">
      <section *ngFor="let action of actionItem" class="col-12 col-sm-6 col-xl-4" data-aos="fade-up">
        <div class="custom-card pt-4 anim-transform h-100">
          <div class="card-body">
            <div [style]="{'background-color': action.color}"
                 class="square mx-auto d-flex flex-wrap align-items-center mb-5">
              <img [alt]="action.alt" [src]="action.icon" class="d-block mx-auto" height="100" width="100">
            </div>
            <h2 class="fs-3 text-center fw-bold font-lato">{{ action.title }}</h2>
            <ul class="mt-5 font-lato fs-6 lh-lg">
              <li *ngFor="let item of action.subText">
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!--Artisan plombier chauffagiste pour vous servir !-->
<div class="container" style="margin-top: 10vw">
  <div class="row h-100 ">
    <div class="col d-flex flex-wrap justify-content-evenly">
      <div class="col-12 col-xl-6 align-self-center" data-aos="fade-right">
        <h3 class="font-lato fw-bold fs-1 lh-base">Artisan plombier chauffagiste pour vous servir !</h3>
        <p class="text p-2 p-lg-0 fs-6">
          Bénéficiez de conseils personnalisés pour installer, réparer ou sécuriser vos installations en matière de
          plomberie et de chauffage. Nous vous accompagnons également dans le choix de matériels et matériaux de
          référence parmi nos fournisseurs privilégiés tels que , SAUNIER DUVAL, Elm Leblanc, CEDEO, Point P, ... Nous
          valorisons une intervention de qualité et nous mettons un point d’honneur à répondre rapidement à vos besoins
          afin de vous fournir une réponse technique efficace, et également compétitive en termes de tarifs. Nous nous
          déplaçons dans toute l’agglomération nantaise dans un rayon de 30 kms autour de REZE pour votre chantier en
          construction neuve, rénovation de l’existant ou pour un simple dépannage.
        </p>
      </div>
      <div class="col-sm-12 col-md-7 col-xl-6 overflow-hidden justify-content-end" data-aos="flip-left">
        <img alt="Plombier travaillant sur une chaudière et un lavabo" class="mx-auto d-block" height="688"
             src="assets/images/plumbing.webp"
             style="max-width: 90%; height: auto" width="952">
      </div>
    </div>
  </div>
</div>
<app-reviews></app-reviews>

<div class="container mb-5">
  <div class="row mb-3">
    <div class="col-12 col-xl-6">
      <h3 class="font-lato fw-bold fs-1 lh-base">Comment fonctionons nous ?</h3>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let workItem of workProcess" class="col-sm-12 col-md-4 mt-5" data-aos="zoom-in-down">
      <h4 class="fs-5 fw-bold">{{ workItem.title }}</h4>
      <p class="text fs-6">{{ workItem.text }}</p>
    </div>
  </div>
</div>

<app-achievements></app-achievements>
<div class="container" data-aos="zoom-in">
  <div class="row">
    <div class="col d-flex justify-content-evenly flex-wrap">
      <img *ngFor="let badge of badges" [alt]="badge.name"
           [src]="badge.imagePath" height="150" width="150">
    </div>
  </div>
</div>
